body{
    background-color: black;
}

.image{
    width: 80%;
    border: 5px solid white;
}

h1{
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 3rem;
}

p{
    color: white;
    font-size: 2rem;
}

#poster{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-top: 10px;
}

